{% extends 'base.html.twig' %}

{% block title %}{{parent()}} Compte{% endblock %}

{% block content %}
    <h1>Bienvenue sur votre compte !</h1>

    <a href="{{ path('edit.password') }}">Modifier mon mot de passe</a>
{% endblock %}
