
.form-group.col-6.pl-0.success input {
    border-color: #28a745;
}

.form-group.success input {
    border-color: #28a745;
}

.form-group.col-6.pl-0.error input {
    border-color: #dc3545;
}

.form-group.error input {
    border-color: #dc3545;
}

.form-group.error {
    margin-bottom: 0;
}

.form-group span {
    color: #dc3545;
}

span.error {
    color: #dc3545;
}